@mixin filter($distance, $color) {
  -webkit-box-shadow: 0px $distance 0px $color;
  -moz-box-shadow:    0px $distance 0px $color;
  box-shadow:         0px $distance 0px $color;

}

a, a:hover, a:active, a:visited {
  color: $Black;
  text-decoration: underline;
}

a {
  text-decoration: none;
} 

a.button-link {
  color: $White;
}

h1 a {
  &:hover {
    color: $Green;
    text-decoration: none;
  }
}

h3 a {
  &:hover {
    color: $Red;
    text-decoration: none;
  }
}

.blog-post-text a {
  color: $Red;
}

.button-link {
  text-transform: uppercase;
  padding: 10px;
  font-family: 'dinbold', sans-serif;
  display: inline-block;
  color: $White;

  &:link {
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
  }

  &:active {
    position: relative;
    top: 2px;
  }
  &:hover {
    text-decoration: none;
  }
}

.button-green {
  @include bevel-corners($Green, 0px);
  @include filter(6px, $GreenShadow);

  &:hover {
    @include bevel-corners($GreenSelected, 0px);
    @include filter(6px, $GreenShadowHover);
  }

  &:active {
    @include bevel-corners($Green, 0px);
  }
}

.button-red {
  @include bevel-corners($Red, 0px);
  @include filter(6px, $RedShadow);

  &:hover {
    @include bevel-corners($RedSelected, 0px);
    @include filter(6px, $RedShadowHover);
  }

  &:active {
    @include bevel-corners($Red, 0px);
  }
}

.link-app-store {
    float: left;
    height: 80px;
    width: 200px;
    display: block;
    background: url('images/svg/app-store.svg') no-repeat top center;
    background-size: 80% 80%;
    cursor: pointer;
}

.link-twitter, .link-facebook {
  display: block;
  height: 45px;
  width: 45px;
  float: left;
  background: url('images/svg/twitter-icon.svg') no-repeat top center;
  background-size: 100% 100%;
  margin-top: 10px;
  cursor: pointer;
}

.link-facebook {
  background: url('images/svg/facebook-icon.svg') no-repeat top center;
  background-size: 100% 100%;
  margin-left: 10px;
}


